In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
import requests
import json

In [2]:
end_date = datetime.now().date()
start_date = end_date - timedelta(days=59)

In [3]:
data = yf.download('ITC.NS', interval='30m', start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [4]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-03-15 09:30:00,382.950012,382.950012,381.200012,381.799988,381.799988,505609
2023-03-15 10:00:00,381.899994,382.649994,381.200012,382.000000,382.000000,629478
2023-03-15 10:30:00,382.049988,382.200012,380.700012,381.000000,381.000000,538956
2023-03-15 11:00:00,381.000000,381.500000,380.799988,381.500000,381.500000,566482
2023-03-15 11:30:00,381.500000,381.649994,380.200012,380.250000,380.250000,829525

In [5]:
data=data.reset_index()

In [6]:
dataDF= requests.get("http://127.0.0.1:8000/api/query/ITC.NS/")

dataD= dataDF.json()

In [7]:
df= pd.read_json(dataDF.json())

In [8]:
df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2023-03-15 09:30:00,382.950012,382.950012,381.200012,381.799988,381.799988,505609
1,2023-03-15 10:00:00,381.899994,382.649994,381.200012,382.000000,382.000000,629478
2,2023-03-15 10:30:00,382.049988,382.200012,380.700012,381.000000,381.000000,538956
3,2023-03-15 11:00:00,381.000000,381.500000,380.799988,381.500000,381.500000,566482
4,2023-03-15 11:30:00,381.500000,381.649994,380.200012,380.250000,380.250000,829525

In [9]:
df.dtypes

Datetime     datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object